Source: default-settings-firefox
Section: admin
Priority: optional
Maintainer: Leszek Lesner <leszek@zevenos.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: default-settings-firefox
Architecture: all
Description: Default configuration for Firefox 
 Default configuration for Firefox in Maui/Netrunner
